* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: black;
}

body {
    background-color: black;
}

#menuContainer {
    -webkit-user-select: none; /* Safari */
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

#gameName {
    display: flex;
    margin-bottom: 1%;
    padding: 0px;
    height: 30%;
    text-align: center;
    align-items: flex-end;
}

#gameName > span {
    animation: wave 3s infinite;
    display: inline-block;
    font-size: 10vw;
}

#gameName > span:nth-of-type(1) {
    animation-delay: 0s;
    color: red;
}
#gameName > span:nth-of-type(2) {
    animation-delay: 0.2s;
    color: yellow;
}
#gameName > span:nth-of-type(3) {
    animation-delay: 0.4s;
    color: green;
}
#gameName > span:nth-of-type(4) {
    animation-delay: 0.6s;
    color: blue;
}

span {
    font-size: 1vw;
    min-height: 3%;
    color: gainsboro;
    font-weight: bold;
}

#hint {
    font-size: 1vw;
    color: gainsboro;
    font-weight: bold;
}

#inputName {
    margin: 1%;
    padding: 1%;
    width: 20%;
    height: 5%;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    outline: none;
    border-radius: 50px;
    border: 5px solid rgb(112, 80, 173);
    background-color: rgb(112, 80, 173);
}

#joinBtn {
    width: 10%;
    height: 8%;
    border-radius: 50px;
    background-color: darkgreen;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid greenyellow;
    color: gainsboro;
    cursor: pointer;
    transition-duration: 1s;
}

#joinBtn:hover {
    background-color: greenyellow;
    border: 3px solid green;
    color: black;
}

#canvas {
    position: absolute;
    background-color: black;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes wave {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-40%);
    }
    100% {
        transform: translateY(0%);
    }
}
